html {
  background-color: #ccc;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  padding: 1rem;
}

h2 {
  text-align: center;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li hgroup {
  width: 10rem;
}

img {
  display: block;
  width: 5rem;
}

a {
  background-color: #444;
  color: #fff;
  padding: .6rem 1rem .5rem;
  text-align: center;
  text-decoration: none;
}
