html {
  background-color: lightgrey;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2{
  text-align: center;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}



img {
  width: 5rem;
}

a {
  background-color: #444;
  color: #fff;
  padding: .5rem 1rem .6rem;

}
